/* pfp css */
body{
	background-color:black;
	background-image:url("galaxy.jpg");
}
p{
	color:white;
	}
#CONTROL-PANEL{
	margin-left:525px;
}
#big-title {
	font-family: 'Roboto Slab', serif;
	color:black;
	font-size:60px;
	margin:0 0 0 0;
}
#big-title{
	transition:color 5s;
}

#little-title {
	font-family: 'Roboto Slab', serif;
	color:black;
	margin: 0 0 0 0;
}
#little-title {
	transition:color 10s;
	
}
#TEXT-WIDGET {
	width:600px;
	height:375px;
	background-color:Black;
	FLOAT:LEFT;
	margin-left:60PX;
	BORDER-RADIUS:15PX;
	border-style:solid;
	border-color:white;
	overflow:scroll;
}
#TEXT-WIDGET p{
	padding:10px;
}	
	
#DIAGRAM-WIDGET {
	width:600px;
	height:375px;
	background-color:Black;
	FLOAT:RIGHT;
	margin-right:60px;
	BORDER-RADIUS:15PX;
	border-style:solid;
	border-color:white;
}

ul li {
background-color:black;
font-family:cambria;
float:left;
color:white;
margin:10px;
border-radius:15px;
border-style:solid;
padding:5px

}

	
#prototype-panel2 ul li:hover{
	box-shadow:3px 3px 10px yellow;
}

#prototype-panel2{
	margin-left:355px;
	
}

#video-content {
	padding:5px 5px 5px 5px;
	border-radius:20px;
	border-color:black;
	width:585;
	height:360;
	
	
}
